@import "../../../assets/scss/animation";
@import "../../../assets/scss/mixin";

.header {
  position: relative;
  max-height: 1050px;
  background: #F4E9E9;
}

.row {
  display: flex;

  @include _1024 {
    flex-direction: column;
  }
}

.about-rooms {
  overflow: hidden;
  padding-bottom: 41%;
  position: relative;
  height: 0;

  video {
    max-width: 100%;
    height: 973px;
    display: block;
    margin-top: -4px;
  }

  @include _2560 {
    width:59%;
    padding-bottom: 40%;
    video {
      height: 1032px;
    }
  }

  @include _1980 {
    width:63%;
    video {
      height: auto;
    }
  }

  @include _1024 {
    width: 100%;
    padding-bottom: 70%;
  }
}

.about-nft {
  width: 51%;
  height: auto;
  background: #F4E9E9;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding-top: 12%;
  color: #000;

  @include _1024 {
    width: 100%;
    min-height: 400px;
  }

  @include _576 {
    padding-top: 25%;
  }
}

.drop-name {
  font-size: 56px;
  line-height: 76px;
  font-weight: 700;
  margin-bottom: 13px;
  position: relative;
  z-index: 999;

  @include _1440 {
    font-size: 36px;
    line-height: 49px;
  }
}

.about-drop {
  color: #626262;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 33px;
  position: relative;
  z-index: 10;

  @include _1440 {
    font-size: 24px;
    line-height: 33px;
  }
}

.drop-btn {
  font-family: 'Polly Rounded';
  font-weight: bold;
  display: inline-block;
  padding: 14px 43px;
  line-height: 32px;
  background: #0f6eb2;
  box-shadow: 3px 6px 6px rgb(0 0 0 / 15%);
  border-radius: 50px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: transform .4s;
  -moz-transition: transform .4s;
  -ms-transition: transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  will-change: transform;
  z-index: 999;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-size: 35px;

  &:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }

  @include _1440 {
    font-size: 30px;
    line-height: 32px;
  }
}

.about-rooms__text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #F3F3F3;
  width: 100%;
  height: 100%;
  padding-top: 23%;

  @include _576 {
    padding-top: 15%;
  }
}

.main-title {
  font-size: 52px;
  line-height: 51px;
  font-weight: bold;

  @include _1440 {
    font-size: 32px;
    line-height: 51px;
  }

  @include _576 {
    font-size: 24px;
    line-height: 25px;
  }
}

.min-title {
  font-size: 36px;
  line-height: 51px;
  margin-top: 22px;
  font-weight: bold;

  @include _1440 {
    font-size: 24px;
    line-height: 38px;
    margin-top: 0px;
  }

  @include _576 {
    font-size: 17px;
    line-height: 21px;
    margin-top: 7px;
  }
}

.text {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-top: 130px;

  @include _1440 {
    font-size: 32px;
    line-height: 44px;
    margin-top: 50px;
  }

  @include _576 {
    font-size: 17px;
    line-height: 21px;
    margin-top: 25px;
  }
}

.hashtags {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  gap: 70px;
  color: #349EEB;
  font-weight: 600;

  @include _1350 {
    margin-top: 40px;
    gap: 50px;
  }

  @include _576 {
    gap: 25px;
  }
}

.hashtag {
  position: relative;
  animation: shake 1.5s;
  animation-iteration-count: infinite;

  &.hashtag-1 {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
  }

  &.hashtag-2 {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
  }

  &.hashtag-3 {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
  }

  &.hashtag-4 {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
  }

  @include _576 {
    font-size: 15px;
  }
}

.dec-anim {
  position: absolute;
  img {
    max-width: 100%;
    height: auto;
  }
}

.sofa {
  img {
    animation: fade-move1 infinite linear 7s alternate;
  }

  @include _2560 {
    top: 0px;
    transform: translateX(-100px);
  }

  @include _1980 {
    top: -50px;
    max-width: 440px;
    max-height: 471px;
  }

  @include _1700 {
    max-width: 380px;
  }

  @include _1550 {
    max-width: 340px;
  }

  @include _1350 {
    max-width: 300px;
  }

  @include _576 {
    max-width: 250px;
  }
}

.armchair {
  img {
    animation: fade-move2 infinite linear 10s alternate;
  }

  @include _2560 {
    top: -30px;
    left: 65%;
    transform: translateX(-65%);
  }

  @include _1700 {
    max-width: 240px;
  }

  @include _1350 {
    max-width: 200px;
  }

  @include _576 {
    max-width: 180px;
    top: 0;
  }
}

.chess {
  filter: blur(3px);

  @include _2560 {
    top: 0;
    right: 0;
  }

  @include _1980 {
    max-width: 250px;
  }

  @include _1550 {
    max-width: 200px;
  }

  @include _1350 {
    max-width: 150px;
  }

  @include _576 {
    max-width: 130px;
    right: -10px;
  }

  img {
    animation: fade-move3 infinite linear 4s alternate;
  }
}

.diamond-card {
  filter: blur(3px);

  @include _2560 {
    transform: rotate(-25.54deg) translateX(-110px);
    max-width: calc(550.33px - 5%);
    max-height: calc(366.89px - 5%);
    left: 0;
    bottom: 110px;
  }

  @include _1980 {
    max-width: calc(550.33px - 20%);
    max-height: calc(366.89px - 20%);
    bottom: 140px;
  }

  @include _1700 {
    max-width: calc(550.33px - 30%);
    max-height: calc(366.89px - 30%);
  }

  @include _1550 {
    max-width: calc(550.33px - 40%);
    max-height: calc(366.89px - 40%);
  }

  @include _1350 {
    max-width: calc(550.33px - 50%);
    max-height: calc(366.89px - 50%);
    bottom: 150px;
    transform: rotate(-25.54deg) translateX(-85px);
  }

  @include _1200 {
    max-width: calc(550.33px - 75%);
    max-height: calc(366.89px - 70%);
    bottom: 150px;
  }

  @include _1024 {
    max-width: calc(550.33px - 45%);
    max-height: calc(366.89px - 45%);
    bottom: 20px;
    transform: rotate(-25.54deg) translateX(-50px);
  }

  @include _768 {
    max-width: 200px;
    max-height: 200px;
  }
}


.gold-card {
  @include _2560 {
    bottom: 250px;
    right: 0px;
    max-width: 420px;
    max-height: 289.18px;
    transform: rotate(32.27deg) translateX(100px);
  }

  @include _1980 {
    max-width: 320px;
    max-height: 289.18px;
    bottom: 100px;
  }

  @include _1700 {
    max-width: 250px;
  }

  @include _1550 {
    max-width: 240px;
    transform: rotate(32.27deg) translateX(50px);
  }

  @include _1350 {
    max-width: 200px;
  }

  @include _1200 {
    max-width: 150px;
    bottom: 50px;
  }
}

.table {
  img {
    animation: fade-move4 infinite linear 4s alternate;
  }

  @include _2560 {
    bottom: 0;
    left: 55%;
    transform: translateX(-55%);
  }

  @include _1980 {
    max-width: 156px;
    max-height: 258px;
  }

  @include _1550 {
    max-width: 126px;
  }

  @include _1350 {
    max-width: 100px;
  }

  @include _1200 {
    bottom: -20px;
  }
}