@import "../../../assets/scss/mixin";

.team {
  padding-bottom: 120px !important;;

  @include _768 {
    padding-bottom: 60px !important;
  }
}

.title {
  color: #AEDC2D;
}

.title-box {
  margin-bottom: 70px;

  @include _768 {
    margin-bottom: 30px;
  }
}

.text {
  margin-bottom: 70px;
}

.persons-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 200px;

  @include _1024 {
    gap: 65px;
  }
}

.persons-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about {
  margin-top: 60px;
  max-width: 252px;

  @include _768 {
    margin-top: 35px;
  }
}

.person-name {
  font-weight: 700;
}

.position {
  margin-top: 3px;
}

.img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  @include _768 {
    max-width: 200px;
    max-height: 200px;
  }
}

.img1 {
  animation: change_color_01 infinite 8s linear;
  animation-fill-mode: both;
  animation-direction:alternate;
}

.img2{
  animation: change_color_02 infinite 8s linear;
  animation-fill-mode: both;
  animation-direction:alternate;
}

@keyframes change_color_01 {
  0% {
    border: 4px solid yellow;
  }

  25% {
    border: 4px solid #00ff22;
  }

  50% {
    border: 4px solid #0537f6;
  }

  75% {
    border: 4px solid #f66105;
  }

  100% {
    border: 4px solid #e50d82;
  }
}

@keyframes change_color_02 {
  0% {
    border: 4px solid #0cf8ff;
  }

  25% {
    border: 4px solid #8401d2;
  }

  50% {
    border: 4px solid #000000;
  }

  75% {
    border: 4px solid #f60505;
  }

  100% {
    border: 4px solid #ffffff;
  }
}