.title {
  margin-bottom: 50px;
}

.ac-header {
  border-top: 1px solid #FFF;
  font-weight: 700;
  padding: 7px 0 17px 0;
  cursor: pointer;
  position: relative;
  background: none;
}

.faq {
  position: relative;
  margin-top: 130px;
}