@import "../../../assets/scss/mixin";

.title {
  margin-bottom: 50px;

  @include _768 {
    margin-bottom: 30px;
  }
}

.faq {
  position: relative;
  margin-top: 130px;

  @include _768 {
    margin-top: 60px;
  }
}