@import "../../../assets/scss/mixin";

.marquee-card {
  img {
    max-width: 100%;
    height: auto;
  }

  @include _2560 {
    max-width: 232.77px;
    max-height: 232.77px;
  }

  @include _1980 {
    max-width: 216px;
    max-height: 216px;
  }

  @include _1024 {
    max-width: 130px;
    max-height: 130px;
  }
}

.marqueeCards {
  position: relative;
}