@import "../../../assets/scss/var";
@import "../../../assets/scss/mixin";

.logo {
  position: relative;
}
.title {
  font-family: $font-title;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;

  @include _768 {
    font-size: 18px;
  }
}

.about {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  max-width: 200px;

  @include _1024 {
    display: none;
  }
}

.key {
  position: absolute;
  top: -35px;
  left: -51px;
  width: 68px;
  height: 64px;
  animation:move infinite linear .7s;
  animation-direction:alternate;

  img {
    max-width: 100%;
    height: auto;
  }

  @include _768 {
    width: 46px;
    height: 44px;
    top: -15px;
    left: -30px;
  }
}

@keyframes move{0%{transform:rotate(0);}100%{transform:rotate(10deg);}}